<div class="hideMe" id="groupID"><%= group.id %></div>

<!-- Page Content -->
<div class="container firstContainer">
  <div class="jumbotron text-center">
    <h1>Post a Question</h1>
  </div>
  <div class="row noMargin">
    <form>
      <div class="form-group">
      <label for="newPostTitle">Post Title</label>
      <input type="text" class="form-control" id="newPostTitle" placeholder="Post Title">
      </div>
      <div class="form-group">
        <label for="newPostQuestion">Enter you question:</label>
        <textarea class="form-control" rows="5" id="newPostQuestion"></textarea>
      </div>
      <button type="button" id="createNewPost" class="btn btn-default">Submit</button>
      <a class="btn btn-default" href="/group/posts/<%= group.id %>">Cancel</a>
      <button type="button" class="btn btn-default codeHelp">Code?</a>
      <button type="button" class="btn btn-default markdownHelp" style="margin-left: 3px;">Markdown?</a>
    </form>
  </div>
</div>
