<% block('localStyles', '<link rel="stylesheet" href="/extraStyles/grayscale.css"> <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css"> <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">') %>
<% if (session.userName) { } %>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="splashNav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-user"></i>  <span type="button" class="light" data-toggle="modal" data-target="#LoginModal">Login</span>
            </a>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-edit"></i>  <span type="button" class="light" data-toggle="modal" data-target="#RegModal">Register</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <a class="navbar-brand page-scroll" href="#page-top">
                  <i class=""></i><span type="button" class="light" data-toggle="modal" data-target="#AboutModal">About</span>
                </a>
                <a class="navbar-brand page-scroll" href="#page-top">
                  <i class=""></i><span type="button" class="light" data-toggle="modal" data-target="#ContactModal">Contact</span>
                </a>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">CodeLion</h1>
                    <p class="intro-text">A collaborative tool for professional developers<br>in every day businesses.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="LoginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <form action="/login" method="POST">
          <div class="form-group">
            <!--<label for="registerFName">First Name</label>-->
            <input type="text" class="form-control" id="loginUserName" placeholder="User Name" name="userName">
          </div>
          <div class="form-group">
            <!--<label for="registerPassword">Password</label>-->
            <input type="password" class="form-control" id="loginPassword" placeholder="Password" name="password">
          </div>
          <button type="submit" class="btn btn-default">Login</button>
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        </form>
      </div>
    </div>
  </div>
</div>

<div id="RegModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Register</h4>
      </div>
      <div class="modal-body">
        <form action="/user/create" method="POST">
          <div class="form-group">
            <!--<label for="registerFName">First Name</label>-->
            <input type="text" class="form-control" id="registerFName" placeholder="First Name" name="fName">
          </div>
          <div class="form-group">
            <!--<label for="registerLName">Last Name</label>-->
            <input type="text" class="form-control" id="registerLName" placeholder="Last Name" name="lName">
          </div>
          <div class="form-group">
            <!--<label for="registerUserName">User Name</label>-->
            <input type="text" class="form-control" id="registerUserName" placeholder="User Name" name="userName">
          </div>
          <div class="form-group">
            <!--<label for="registerPassword">Password</label>-->
            <input type="password" class="form-control" id="registerPassword" placeholder="Password" name="password">
          </div>
          <div class="form-group">
            <!--<label for="registerEmail">E-Mail</label>-->
            <input type="email" class="form-control" id="registerEmail" placeholder="E-Mail" name="email">
          </div>
          <button type="submit" class="btn btn-default">Register</button>
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        </form>
      </div>
    </div>
  </div>
</div>

<div id="AboutModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
  <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">About CodeLion</h4>
      </div>
      <div class="modal-body">
        <p>
        Welcome! CodeLion is a project made by our Capstone group from the University of Missouri-Columbia. With CodeLion, companies and teams of developers can collaborate and create stuff.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="ContactModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
  <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Contact Us!</h4>
      </div>
      <div class="modal-body">
        <p>
        Email us at CodeLion@gmail.com if you have any questions!
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
